<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seatingarrangement">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Seatingarrangement">

        <!-- Main Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity android:name=".UserSelectionActivity" />
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".AdminDashboardActivity" />
        <activity android:name=".AddStudentActivity" />
        <activity android:name=".ViewStudentActivity" />
        <activity android:name=".AllocateHallActivity" />
        <activity android:name=".StudentLoginActivity" />
        <activity android:name=".StudentSeatingActivity" />

        <!-- Additional configurations (if any) -->
        <!-- ... -->

    </application>

</manifest>
